.chatlist {
  border-right: 1px solid rgba(0, 0, 0, .1);
  flex: 35;
  height: 100%;
  min-width: 260px;
}

.loading {
  color: #767676;
  font-size: 14px;
  margin-top: 45px;
  text-align: center;
}
